{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Rey Ganteng </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'story8.js' %}"> </script>
</head>
<body>
    <div class="full-height">

      <div class="container">
        <h1> Hello, Apa kabar?</h1>
        <form action="/" method="post">
          {% csrf_token %}
          <div className="form-group">
          <textarea id ="kotak_status" name = "status" rows = "10" className = "form-control"> </textarea>
          </div>
          <br/>
          <input id="tombol_submit" value="tambah status" type="submit"/>
        </form>
        {% if error %}
          <h3 class = "red-color" id="error"> {{error}} </h3>
        {% endif %}
      </div>
      <div class="container">
      {% if list_status %}
        <div class="panel-group">
          {% for stat in list_status %}
          <div class = "panel panel-default mar-top-50">
            <div id="heading-{{stat.id}}" onclick="accordion('{{stat.id}}')" class="panel-heading">
              v {{stat.time}}
            </div>
            <div id="body-{{stat.id}}" class ="panel-body hidden">
              {{stat.text}}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
</body>
</html>
