{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'story8.js' %}"> </script>
</head>
<body class="full-height bg-black">
  <div class="container4">
    <div class="loader"></div>
  </div>
  <div id="gg" class="hidden">
    <div class="col-md-8">
    	<h3 class="font-size24"> Name : Reynaldo Wijaya Hendry </h3>
    	<h3 class="font-size24"> Birth Place : Batam </h3>
    	<h3 class="font-size24"> Birth Date : 5th November 1999 </h3>
    	<h3 class="font-size24"> Education : Faculty of Computer Science, Universitas Indonesia </h3>
    	<h3 class="font-size24"> Skill : Golang, Python, Java, C++, React.Js </h3>
    	<h3 class="font-size24"> Area of Interest : Data Science, Software Engineer</h3>
      <button onclick = "changeTheme()" class="font-black"> Change Theme </button>
      <div class="panel-group font-black">
        <div class = "panel panel-default mar-top-50">
          <div id="heading-1" onclick="accordion('1')" class="panel-heading">
            Prestasi Rey
          </div>
          <div id="body-1" class ="panel-body hidden">
            [International] Finalist (Top 12 National Winner), ACM-ICPC Asia Jakarta Regional Contest 2017: An ICPC-style programming competition participated by more than 500 national teams in preliminary round. Ranked 18th having the awards as one of the 12 National Winner.
            <br>
            <br>
            [National] Honorable Mention(Top 5), Junior Competitive Programming Contest Compfest (2016) and Senior Competitive Programming Contest Compfest(2017):  Junior Competitive Programming Contest is an IOI style competitive programming competition while Senior Competitive Programming Contest is an ACM-ICPC style competitive programming competition.
            <br>
            <br>
            [National] Finalist Data Mining Competition, Joints UGM (2018) . Joints Data Mining Competition is a data modeling competition given 5 hours with a dataset to find the best model with the lowest metrics.
            <br>
            <br>
            [National] Silver Medal National Science Olympiad in Informatic,(2016) National Science Olympiad is Yearly competition held by Kementerian Pendidikan dan Kebudayaan Indonesia (Ministry of Education and Culture) to select top high school student from all province in indonesia to represent Indonesia in International Science Olympiad
          </div>
        </div>
        <div class = "panel panel-default mar-top-50">
          <div id="heading-2" onclick="accordion('2')" class="panel-heading">
            Hobi Rey
          </div>
          <div id="body-2" class ="panel-body hidden">
            Procras
          </div>
        </div>
        <div class = "panel panel-default mar-top-50">
          <div id="heading-3" onclick="accordion('3')" class="panel-heading">
            Organisasi Rey
          </div>
          <div id="body-3" class ="panel-body hidden">
          </div>
        </div>
      </div>
      </div>
    </div>



  </div>

  <script>


  </script>
</body>
