.padding-bottom-500{
    padding-bottom : 500px;
}

.font-black{
  color: black!important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

div.container4 {
    height: 100vh;
    position: relative;
}
div.container4 .loader {
    position: absolute;
    top: 40%;
    left: 45%;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.img-responsive{
  width: 100%;
  max-width: 300px;
  height: auto;
}
.mar-top-15{
  margin-top:15px;
}
.bg-black{
  display:inline-block;
  width: 100%!important;
  margin: 0px!important;
  background-color: black!important;
  color : white!important;
}

.ml-3{
  margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size : 15pt;
}

.Nav-li {
    float: right;
}

.Nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
}

.Nav-li a:hover:not(.active) {
    background-color: #009BC6;
}

.active {
    background-color: white;
}

.nav-kiri {
	float: left;
	padding : 14px;
}

.fontsize48{
	font-size: 	48px;
}

.middle{
  text-align: center;
  color: white!important;
  margin-top:200px;
  left: 50%;
}

a { color: inherit; }

.mar-top-200{
	margin-top : 100px;
}

.mar-top-50 {
	margin-top : 50px;
}

.mar-top-10{
  margin-top:10px;
}

.mar-top-20{
  margin-top:20px;
}


.magerbet{
	margin-top: 200px!important;
}

.mar-top3{
  margin-top:300px;
}

.img{
 	max-height : 300px;
 	max-width : 300px;
 	margin-left : 100px;
}

.img-no-mar {
	max-height : 300px;
	max-width : 300px;
}

.mar-left-100 {
	margin-left : 100px;
}

.mar-top-kecil{
	margin-top : 100px;
}

.font-size24{
	font-size : 24px;
}

.font-size32{
	font-size : 32px;
}

.font-size28 {
	font-size : 28px;
}

.mar-left-kecil {
	margin-left : 50px;
}

.mar-bot-kecil {
	margin-bottom : 50px;
}

.full-height{

}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.red-color {
  color : red;
}
