{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Rey Ganteng </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'story9.js' %}"> </script>
</head>
<body>
    <div class="full-height">
      <div class="container-fluid">
        <div class="container-fluid">
          {% if user.is_authenticated %}
           <a href="/logout"> Logout</a>
           <h1 class="display-4">Hello, {{ name }} </h1>
           {% else %}
           <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
           {% endif %}
          <div>
            <h3> Number of favourite books: <span id="total"> {{ count }} </span>  </h3> <br />
          </div>
          Search for book: <input id="val" type="text" placeholder="Search.." size : "40">
          <button onclick = "get_book()"> Search </button>
        </div>
        <div id="favourite">

        </div>
      </div>
    </div>
</body>
</html>
